// Colores
$color-verde-oscuro: #2e7d32;
$color-verde-claro: #81c784;
$color-verde-medio: #4caf50;
$color-fondo-banner: #c3ffe2;
$color-fondo-footer: #c3ecd6;
$color-footer-texto: #1b4332;
$color-texto-principal: #2d472d;
$color-texto-secundario: rgb(31, 121, 71);
$color-texto-boton: #fff;

// Fuentes
$font-principal: 'Quicksand', sans-serif;
$font-secundaria: 'Poppins', sans-serif;
$font-footer: Tahoma;

// Medidas
$border-radius: 12px;
$btn-radius: 20px;

// Sombras
$box-shadow-suave: 0 3px 8px rgba(0, 0, 0, 0.08);
$box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.15);
