main {
  padding: 40px 20px;
  margin-bottom: 60px; // espacio para el footer fijo en desktop
  background-color: #f3f9f4;
  border-radius: $border-radius;
  box-shadow: 0 4px 12px $color-texto-secundario;
  font-family: $font-secundaria;
  color: $color-texto-secundario;
}

section.mb-5.text-center {
  margin-bottom: 3rem;

  h2 {
    font-size: 3rem;
    font-weight: 700;
    color: $color-texto-secundario;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.2rem;
    color: $color-texto-secundario;
    max-width: 600px;
    margin: 0 auto;
  }
}

section h2.mb-4 {
  font-size: 2rem;
  font-weight: 600;
  color: $color-texto-secundario;
  margin-bottom: 1.5rem;
}
